In [1]:
%matplotlib inline
import matplotlib
import seaborn as sns
matplotlib.rcParams['savefig.dpi'] = 144

In [2]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We will be working with the same medical data used in the `pw` miniproject, but will be leveraging the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [3]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

--2019-02-18 08:06:25--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.100.35
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.100.35|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19011654 (18M) [text/csv]
Saving to: ‘./dw-data/201701scripts_sample.csv.gz’

201701scripts_sampl 100%[===================>]  18.13M  62.1MB/s    in 0.3s

2019-02-18 08:06:25 (62.1 MB/s) - ‘./dw-data/201701scripts_sample.csv.gz’ saved [19011654/19011654]

--2019-02-18 08:06:25--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.166.75
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.166.75|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18768259 (18M) [text/csv]
Saving to: ‘./dw-data/201606scripts_sample.csv.gz’

201606scripts_sampl 100%[===================>]  17.90M  54.1MB/s    in 0.3s

2019-02-18 08:06:26 (54.1 MB/s) - ‘./dw-data/201606scripts_sample.csv.gz’ saved [18768259/18768259]

--2019-02-18 08:06:26--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.133.251
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.133.251|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 333225 (325K) [application/x-gzip]
Saving to: ‘./dw-data/practices.csv.gz’

practices.csv.gz    100%[===================>] 325.42K  --.-KB/s    in 0.02s

2019-02-18 08:06:26 (16.8 MB/s) - ‘./dw-data/practices.csv.gz’ saved [333225/333225]

--2019-02-18 08:06:26--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.166.75
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.166.75|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31829 (31K) [application/x-gzip]
Saving to: ‘./dw-data/chem.csv.gz’

chem.csv.gz         100%[===================>]  31.08K  --.-KB/s    in 0.002s

2019-02-18 08:06:26 (17.5 MB/s) - ‘./dw-data/chem.csv.gz’ saved [31829/31829]

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [3]:
import pandas as pd
import numpy as np
import gzip

In [4]:
# load the 2017 data
with gzip.open('./dw-data/201701scripts_sample.csv.gz', 'rb') as f:
    scripts = pd.read_csv(f)
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
with gzip.open('./dw-data/practices.csv.gz', 'rb') as f:
    practices = pd.read_csv(f, names=col_names)
with gzip.open('./dw-data/chem.csv.gz', 'rb') as f:
    chem = pd.read_csv(f)

In [15]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [6]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [17]:
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [55]:
summary = pd.DataFrame(scripts.describe())
summary

               items            nic       act_cost       quantity
count  973193.000000  973193.000000  973193.000000  973193.000000
mean        9.133136      73.058915      67.986613     741.329835
std        29.204198     188.070257     174.401703    3665.426958
min         1.000000       0.000000       0.040000       0.000000
25%         1.000000       7.800000       7.330000      28.000000
50%         2.000000      22.640000      21.220000     100.000000
75%         6.000000      65.000000      60.670000     350.000000
max      2384.000000   16320.000000   15108.320000  577720.000000

In [57]:
stats = list(summary.index)[0:3]
stats.extend(list(summary.index)[4:7])
stats

['count', 'mean', 'std', '25%', '50%', '75%']

In [59]:
summary_stats = [(col, (summary[col][stats[0]] * summary[col][stats[1]],summary[col][stats[1]],summary[col][stats[2]],
        summary[col][stats[3]],summary[col][stats[4]],summary[col][stats[5]])) 
 for col in [list(summary.columns)[0],list(summary.columns)[3],list(summary.columns)[1],list(summary.columns)[2]]]

In [ ]:
summary_stats = [('items', (0,) * 6), ('quantity', (0,) * 6), ('nic', (0,) * 6), ('act_cost', (0,) * 6)]

In [60]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [77]:
most_common_item = [(scripts.groupby('bnf_name')['items'].sum().idxmax(),
                     scripts.groupby('bnf_name')['items'].sum().max())]
most_common_item

[('Omeprazole_Cap E/C 20mg', 218583)]

In [87]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score:  1.0
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note for the maximum, some postal codes may have multiple `'bnf_name'` with the same prescription rate. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [38]:
bypostcode = practices.groupby('code')['post_code'].unique() #take all the unique postcodes into a pd series
bypostcode.head()

code
A81001              [TS18 1HU]
A81002              [TS18 2AW]
A81003    [TS26 8DB, TS25 1QU]
A81004      [TS1 3BE, TS5 8SB]
A81005              [TS14 7DJ]
Name: post_code, dtype: object

In [39]:
postcodes = pd.DataFrame(bypostcode)['post_code'].apply(lambda x: sorted(x)[0]) #take alphabetically 1st postcode
postcodes.head()

code
A81001    TS18 1HU
A81002    TS18 2AW
A81003    TS25 1QU
A81004     TS1 3BE
A81005    TS14 7DJ
Name: post_code, dtype: object

In [31]:
scripts.rename(columns={"practice": "code"}, inplace=True)

In [32]:
merged_df = scripts.merge(postcodes.to_frame().reset_index(), on=['code'], how='left')

In [33]:
merged_df.head()

,code,bnf_code,bnf_name,items,nic,act_cost,quantity,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,CH44 5UF

In [109]:
merged_df[(merged_df['bnf_name']=='Salbutamol_Inha 100mcg (200 D) CFF') & (merged_df['post_code']=='B11 4BW')]

,code,bnf_code,bnf_name,items,nic,act_cost,quantity,post_code
529329,M85078,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,300,622.5,580.01,415,B11 4BW
532663,M85774,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,149,264.0,246.25,176,B11 4BW
533688,Y02620,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,257,736.5,685.00,491,B11 4BW

In [40]:
# get the totals
total_items_by_post = merged_df.groupby('post_code')['items'].sum().to_frame()
total_items_by_post.rename(columns={"items": "totals"}, inplace=True)
total_items_by_post.head()

           totals
post_code
B11 4BW     22731
B12 9LP     17073
B18 7AL     20508
B21 9RY     31027
B23 6DJ     28011

In [46]:
bypostcode = merged_df.groupby('post_code')['bnf_name','items']

In [55]:
bypostcode.head(3) #show top 3 bnf_names for each postcode

                                        bnf_name  items
0                          Bisacodyl_Tab E/C 5mg      1
1               Movicol Plain_Paed Pdr Sach 6.9g      1
2             Salbutamol_Inha 100mcg (200 D) CFF      1
31         Co-Magaldrox_Susp 195mg/220mg/5ml S/F      2
32           Alginate_Raft-Forming Oral Susp S/F      1
33                 Sod Algin/Pot Bicarb_Susp S/F     12
10365            Maalox_Susp 195mg/220mg/5ml S/F      2
10366              Sod Algin/Pot Bicarb_Susp S/F     11
10367    Sod Alginate/Pot Bicarb_Tab Chble 500mg      2
12140                SodiBic_Oral Soln 420mg/5ml      1
12141              Sod Algin/Pot Bicarb_Susp S/F      4
12142    Sod Alginate/Pot Bicarb_Tab Chble 500mg      1
13454            Maalox_Susp 195mg/220mg/5ml S/F      1
13455                       Maalox Plus_Susp S/F      1
13456                SodiBic_Oral Soln 420mg/5ml      1
23755                SodiBic_Oral Soln 420mg/5ml      1
23756              Sod Algin/Pot Bicarb_Susp S/F     27
23757           Gaviscon_Liq Orig Aniseed Relief      1
28627      Co-Magaldrox_Susp 195mg/220mg/5ml S/F      2
28628                Simeticone_Susp 40mg/ml S/F      1
28629        Alginate_Raft-Forming Oral Susp S/F      7
31956           Mucogel_Susp 195mg/220mg/5ml S/F      1
31957              Sod Algin/Pot Bicarb_Susp S/F      4
31958    Sod Alginate/Pot Bicarb_Tab Chble 500mg      1
33301    Gaviscon Infant_Sach 2g (Dual Pack) S/F      2
33302   Gaviscon Advance_Liq (Aniseed) (Reckitt)     34
33303   Gaviscon Advance_Tab Chble Mint(Reckitt)      2
36354              Sod Algin/Pot Bicarb_Susp S/F     30
36355    Sod Alginate/Pot Bicarb_Tab Chble 500mg      4
36356           Gaviscon_Liq Orig Aniseed Relief      1
...                                          ...    ...
937710             Sod Algin/Pot Bicarb_Susp S/F      3
937711   Gaviscon Infant_Sach 2g (Dual Pack) S/F      2
937712  Gaviscon Advance_Liq (Aniseed) (Reckitt)      9
940942                         Alu-Cap_Cap 475mg      2
940943                            Mag Trisil_Mix      1
940944    Altacite Plus_Susp 125mg/500mg/5ml S/F      1
944069     Co-Magaldrox_Susp 195mg/220mg/5ml S/F      1
944070          Mucogel_Susp 195mg/220mg/5ml S/F      2
944071             Sod Algin/Pot Bicarb_Susp S/F      7
946954                      Maalox Plus_Susp S/F      1
946955              Antacid/Oxetacaine_Oral Susp      2
946956                      Simeticone_Cap 125mg      2
948681                         Mag Trisil Co_Tab      1
948682             Sod Algin/Pot Bicarb_Susp S/F      1
948683          Gaviscon_Liq Orig Aniseed Relief      1
953870           Maalox_Susp 195mg/220mg/5ml S/F      1
953871                      Maalox Plus_Susp S/F      1
953872              Antacid/Oxetacaine_Oral Susp      1
957485               SodiBic_Oral Soln 420mg/5ml      2
957486       Alginate_Raft-Forming Oral Susp S/F      2
957487          Gaviscon_Liq Orig Aniseed Relief      2
959000           Maalox_Susp 195mg/220mg/5ml S/F      2
959001        Mag Hydrox_Oral Susp 415mg/5ml S/F      2
959002                Simeticone_Tab Chble 125mg      1
961180        Sod Bicarb_Oral Soln 420mg/5ml S/F      1
961181          Gaviscon_Liq Orig Aniseed Relief      2
961182            Gaviscon_Liq Relief Peppermint      1
968779                      Simeticone_Cap 100mg      1
968780       Alginate_Raft-Forming Oral Susp S/F      1
968781             Sod Algin/Pot Bicarb_Susp S/F      3

[777 rows x 2 columns]

In [140]:
max_items_by_post = total_items_by_post.reset_index()
# For each postcode group, find the max items
max_items_by_post['maximum'] = max_items_by_post['post_code'].apply(
    lambda x: bypostcode.get_group(x).groupby('bnf_name')['items'].unique().to_frame()['items'].apply(
        lambda x: sum(x)).to_frame()['items'].max())

In [141]:
# For each postcode group, find the bnf_name with the max items : sum items with same bnf name in a postcode group
max_items_by_post['bnf_name'] = max_items_by_post['post_code'].apply(
    lambda x: np.argmax(bypostcode.get_group(x).groupby('bnf_name')['items'].unique().to_frame()['items'].apply(
        lambda x: sum(x)).to_frame()['items']))

In [142]:
max_items_by_post['% of total'] = max_items_by_post['maximum']/max_items_by_post['totals']

In [164]:
max_items_by_post.head()

  post_code  totals  maximum                            bnf_name  % of total
0   B11 4BW   22731      706  Salbutamol_Inha 100mcg (200 D) CFF    0.031059
1   B12 9LP   17073      425                   Paracet_Tab 500mg    0.024893
2   B18 7AL   20508      556  Salbutamol_Inha 100mcg (200 D) CFF    0.027111
3   B21 9RY   31027     1033             Metformin HCl_Tab 500mg    0.033294
4   B23 6DJ   28011      599    Lansoprazole_Cap 30mg (E/C Gran)    0.021384

In [134]:
b114bw = bypostcode.get_group('B11 4BW')

In [163]:
b114bwbybnf = b114bw.groupby('bnf_name')['items'].max().to_frame()
#print(b114bwbybnf['items'].max())
print(np.argmax(b114bwbybnf['items']))
print(b114bwbybnf[b114bwbybnf['items']==b114bwbybnf['items'].max()])

Paracet_Tab 500mg
                                    items
bnf_name
Paracet_Tab 500mg                     300
Salbutamol_Inha 100mcg (200 D) CFF    300

In [125]:
b114bwbybnf = b114bw.groupby('bnf_name')['items'].unique()  #take all the unique bnfnames in the postcode into a pd series
b114bwbybnf.head()

bnf_name
3m Health Care_Cavilon Durable Barrier C         [4, 1]
3m Health Care_Cavilon No Sting Barrier             [1]
Abasaglar KwikPen_100u/ml 3ml Pf Pen                [2]
Abidec_Dps                                  [41, 5, 17]
Able Spacer + Sml/Med Mask                          [1]
Name: items, dtype: object

In [159]:
b114bwbybnf = bypostcode.get_group('B11 4BW').groupby('bnf_name')['items'].unique().to_frame()['items'].apply(
    lambda x: sum(x)).to_frame() #find the sum of all items in each unique bnfname in the postcode

In [160]:
b114bwbybnf['items'].head()

bnf_name
3m Health Care_Cavilon Durable Barrier C     5
3m Health Care_Cavilon No Sting Barrier      1
Abasaglar KwikPen_100u/ml 3ml Pf Pen         2
Abidec_Dps                                  63
Able Spacer + Sml/Med Mask                   1
Name: items, dtype: int64

In [161]:
#print(b114bwbybnf['items'].max()) # max value of items
#print(np.argmax(b114bwbybnf['items'])) # loc of max value
print(b114bwbybnf[b114bwbybnf['items']==b114bwbybnf['items'].max()])

                                    items
bnf_name
Salbutamol_Inha 100mcg (200 D) CFF    706

In [176]:
items_by_region = [(max_items_by_post['post_code'][x], max_items_by_post['bnf_name'][x], max_items_by_post['% of total'][x]) 
     for x in range(len(max_items_by_post))][:100]
items_by_region[:5]

[('B11 4BW', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.031058906339360346),
 ('B12 9LP', 'Paracet_Tab 500mg', 0.02489310607391788),
 ('B18 7AL', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.027111371172225472),
 ('B21 9RY', 'Metformin HCl_Tab 500mg', 0.03329358300834757),
 ('B23 6DJ', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.021384456106529576)]

In [ ]:
items_by_region = [("B11 4BW", "Salbutamol_Inha 100mcg (200 D) CFF", 0.0310589063)] * 100

In [177]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  0.9900000000000007
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [10]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [5]:
bychemsub = chem.groupby('CHEM SUB')['NAME'].unique() #take all the unique chem subs into a pd series

In [6]:
bychemsub.head()

CHEM SUB
010101000      [Other Antacid & Simeticone Preps]
0101010A0                       [Alexitol Sodium]
0101010B0                            [Almasilate]
0101010C0                   [Aluminium Hydroxide]
0101010D0    [Aluminium Hydroxide With Magnesium]
Name: NAME, dtype: object

In [7]:
# for those subs that have different names join the names to single str
chemsub = bychemsub.to_frame()['NAME'].apply(lambda x: ' '.join(x)).to_frame()

In [8]:
chemsub.head()

                                         NAME
CHEM SUB
010101000    Other Antacid & Simeticone Preps
0101010A0                     Alexitol Sodium
0101010B0                          Almasilate
0101010C0                 Aluminium Hydroxide
0101010D0  Aluminium Hydroxide With Magnesium

In [11]:
s = pd.Series(opioids)
s.str.lower()

0         morphine
1        oxycodone
2        methadone
3         fentanyl
4        pethidine
5    buprenorphine
6     propoxyphene
7          codeine
dtype: object

In [12]:
check = '|'.join(s.str.lower())
chemsub['isOpioids'] = chemsub['NAME'].str.lower().str.contains(check)

In [13]:
chemsub[chemsub['isOpioids']==True].head()

                                          NAME  isOpioids
CHEM SUB
0104020D0  Codeine Phosphate Compound Mixtures       True
0104020N0                     Opium & Morphine       True
0309010C0                    Codeine Phosphate       True
0309010N0            Diamorphine Hydrochloride       True
0309010S0              Methadone Hydrochloride       True

In [14]:
# need a dict of the subs and flags for later
dct = dict(chemsub['isOpioids'])

In [16]:
scripts['clsfd'] = scripts['bnf_code'].apply(lambda x: x in dct.keys())

In [17]:
scripts[scripts['clsfd']==True].head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,clsfd
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,True
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,True
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,True
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,True
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,True

In [18]:
def flag(cols):
    code = cols[0]
    clsfd = cols[1]
    if clsfd:
        return dct[code]
    else:
        return clsfd

In [20]:
scripts['isOpioids'] = scripts[['bnf_code','clsfd']].apply(flag, axis=1)

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [22]:
bypractice = scripts.groupby('practice')['isOpioids']

In [24]:
# propos: only add the practices that have opioids
opioids_per_practice = [(prac, bypractice.get_group(prac).mean()) for prac in bypractice.groups.keys() 
                        if (len(bypractice.get_group(prac).value_counts())>1)]

In [25]:
ops = pd.DataFrame(opioids_per_practice, columns=['code','propos'])
ops.sort_values(by=['propos'], ascending=False).head()

       code    propos
697  Y01852  0.857143
676  Y00581  0.500000
699  Y01943  0.333333
730  Y02947  0.285714
758  Y04657  0.222222

In [40]:
len(ops)

790

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [26]:
scripts['isOpioids'].mean()

0.03580276471367961

In [27]:
# relative propos: only add the practices that have opioids
relative_opioids_per_practice = [(prac, bypractice.get_group(prac).mean() - scripts['isOpioids'].mean()) 
                       for prac in bypractice.groups.keys() 
                                 if (len(bypractice.get_group(prac).value_counts())>1)]

In [28]:
relops = pd.DataFrame(relative_opioids_per_practice, columns=['code','propos'])
relops.sort_values(by=['propos'], ascending=False).head()

       code    propos
697  Y01852  0.821340
676  Y00581  0.464197
699  Y01943  0.297531
730  Y02947  0.249912
758  Y04657  0.186419

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [29]:
stdev = scripts['isOpioids'].std()
stdev

0.18579817605238425

In [30]:
standard_error_per_practice = [(prac, stdev/np.sqrt(bypractice.get_group(prac).count())) 
                               for prac in bypractice.groups.keys()
                              if (len(bypractice.get_group(prac).value_counts())>1)]

In [31]:
stderr = pd.DataFrame(standard_error_per_practice, columns=['code','stderr'])
stderr.sort_values(by=['stderr'], ascending=False).head()

       code    stderr
676  Y00581  0.131379
699  Y01943  0.107271
730  Y02947  0.070225
697  Y01852  0.070225
776  Y05269  0.065690

In [32]:
opioid_scores = [(relative_opioids_per_practice[x][0], relative_opioids_per_practice[x][1]/standard_error_per_practice[x][1]) 
                       for x in range(len(relative_opioids_per_practice))]

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [33]:
opscores = pd.DataFrame(opioid_scores,columns=['code','z_score'])
opscores.sort_values(by=['z_score'], ascending=False).head()

       code    z_score
697  Y01852  11.695818
742  Y03668   6.150582
260  G81703   5.123032
769  Y04997   4.958866
754  Y04585   4.888878

In [34]:
bycode = practices.groupby('code')['name'].unique() #10843 unique codes in practices compared to 790 in opioid_scores

In [35]:
# for those codes that have different names, take alphabetically 1st one
codes = bycode.to_frame()['name'].apply(lambda x: sorted(x)[0]) #take alphabetically 1st name

In [36]:
codes.head()

code
A81001           THE DENSHAM SURGERY
A81002    QUEENS PARK MEDICAL CENTRE
A81003     VICTORIA MEDICAL PRACTICE
A81004       BLUEBELL MEDICAL CENTRE
A81005            SPRINGWOOD SURGERY
Name: name, dtype: object

In [37]:
# only the top 100!
topscores = list(opscores.sort_values(by=['z_score'], ascending=False)[['code','z_score']].apply(
    lambda x: (str(x[0]),x[1]), axis=1))[:100]
topscores[:5]

[('Y01852', 11.695817862936027),
 ('Y03668', 6.1505817490838295),
 ('G81703', 5.123032414033079),
 ('Y04997', 4.958866438487605),
 ('Y04585', 4.8888781604828235)]

In [38]:
anomalies = [(
    codes[topscores[x][0]], topscores[x][1], len(scripts[scripts['practice']==topscores[x][0]])) 
                       for x in range(len(topscores))]

In [ ]:
anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [39]:
grader.score.dw__script_anomalies(anomalies)

==================
Your score:  0.9900000000000007
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`.  Normalize the percent growth in prescriptions of individual items by the percent change in total number of prescriptions (think about whether this normalization should be a division or a subtraction). We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [5]:
# 2016 data
with gzip.open('./dw-data/201606scripts_sample.csv.gz', 'rb') as f:
    scripts16 = pd.read_csv(f)

In [22]:
scripts16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [6]:
bybnf17 = scripts.groupby('bnf_name').count()['practice'].to_frame().reset_index().rename(
    columns={"practice": "count17"})

In [7]:
bybnf16 = scripts16.groupby('bnf_name').count()['practice'].to_frame().reset_index().rename(
    columns={"practice": "count16"})

In [8]:
bybnf1617 = bybnf16.merge(bybnf17, on=['bnf_name'], how='inner')

In [9]:
bybnf1617['growth'] = bybnf1617[['count16','count17']].apply(lambda x: (x[1] - x[0])/x[0], axis=1)

In [10]:
bybnf1617.sort_values(by=['growth'], ascending=False).head()

                                   bnf_name  count16  count17  growth
11077                   Vensir XL_Cap 225mg        1       93  92.000
4272      Fludroxycortide_Tape 7.5cm x 20cm        2      106  52.000
10241                      Tamiflu_Cap 75mg        1       44  43.000
3864       Enstilar_Foam Aero 50mcg/0.5mg/g        8      225  27.125
6762   Memantine HCl_Orodisper Tab 10mg S/F        1       28  27.000

In [11]:
bybnf1617_ = bybnf1617[bybnf1617['count16']>50]

In [12]:
final = bybnf1617_.sort_values(by=['growth'], ascending=False)
final.head()

                                      bnf_name  count16  count17    growth
1467           Butec_Transdermal Patch 5mcg/hr       62      277  3.467742
1465          Butec_Transdermal Patch 10mcg/hr       69      276  3.000000
4415  Fostair NEXThaler_Inh 200mcg/6mcg (120D)       86      209  1.430233
8498     Pneumococcal_Vac 0.5ml Vl (23 Valent)      193      438  1.269430
9993  Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev       52      118  1.269231

In [13]:
final_ = pd.concat([final.head(50),final.tail(50)])
script_growth = list(zip(final_['bnf_name'],final_['growth'],final_['count16']))

In [14]:
script_growth[:5]

[('Butec_Transdermal Patch 5mcg/hr', 3.467741935483871, 62),
 ('Butec_Transdermal Patch 10mcg/hr', 3.0, 69),
 ('Fostair NEXThaler_Inh 200mcg/6mcg (120D)', 1.430232558139535, 86),
 ('Pneumococcal_Vac 0.5ml Vl (23 Valent)', 1.2694300518134716, 193),
 ('Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev', 1.2692307692307692, 52)]

In [62]:
script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [16]:
grader.score.dw__script_growth(script_growth)

==================
Your score:  1.0
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [17]:
p = 1 / scripts['bnf_code'].nunique()
print(p)
sel = 0.1 * p
print(sel)

0.0005063291139240507
5.0632911392405066e-05

In [18]:
probabilities = scripts.groupby('bnf_code').count()['practice'].to_frame().reset_index().rename(
    columns={"practice": "count"})

In [19]:
tot_outcomes = sum(probabilities['count'])
tot_outcomes

973193

In [20]:
probabilities['probabilities'] = probabilities['count'].apply(
    lambda x: x/tot_outcomes)

In [21]:
 # 844 rare codes
rare_codes = list(
    probabilities[probabilities['probabilities']<sel]['bnf_code'])

In [22]:
rare_codes[:5]

['0101010C0', '0101010F0', '0101010I0', '0101010J0', '0101010N0']

In [23]:
scripts['rare'] = scripts['bnf_code'].apply(lambda x: x in rare_codes)

In [24]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,rare
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [25]:
bypractice = scripts.groupby('practice')

In [26]:
rare_cost_prop = [(
    prac, bypractice.get_group(
        prac)[bypractice.get_group(
        prac)['rare']==True]['act_cost'].sum() / bypractice['act_cost'].get_group(
        prac).sum()) 
    for prac in bypractice.groups.keys()]

In [27]:
propos = pd.DataFrame(rare_cost_prop,columns=['code','propo'])
propos.head()

     code     propo
0  A81005  0.012017
1  A81007  0.008381
2  A81011  0.005116
3  A81012  0.013747
4  A81017  0.007359

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [28]:
tot_cost = scripts['act_cost'].sum()
print(tot_cost)
tot_prop = scripts[scripts['rare']==True]['act_cost'].sum() / tot_cost
print(tot_prop)

66164096.11999999
0.015962901360950386

In [29]:
relative_rare_cost_prop = list(zip(propos['code'], propos['propo'] - tot_prop))

In [30]:
rel_propos = pd.DataFrame(relative_rare_cost_prop,columns=['code','rel_propo'])
rel_propos.head()

     code  rel_propo
0  A81005  -0.003946
1  A81007  -0.007582
2  A81011  -0.010847
3  A81012  -0.002216
4  A81017  -0.008604

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [31]:
stdevq6 = rel_propos['rel_propo'].std() 
stdevq6  # global standard error as the stdev of the differences

0.06050888706745139

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [33]:
rare_scores = list(zip(rel_propos['code'], rel_propos['rel_propo']/stdevq6))

In [34]:
rare = pd.DataFrame(rare_scores,columns=['code','rare_score'])
rare.sort_values(by=['rare_score'], ascending=False).head()

       code  rare_score
765  Y03472   16.262687
831  Y05320   15.128648
793  Y04404    7.542139
766  Y03484    7.287222
794  Y04424    6.838614

In [36]:
bycode = practices.groupby('code')['name'].unique() #10843 unique codes in practices compared to 790 in opioid_scores

In [37]:
# for those codes that have different names, take alphabetically 1st one
practice_codes = bycode.to_frame()['name'].apply(lambda x: sorted(x)[0]) #take alphabetically 1st name

In [38]:
practice_names = pd.DataFrame(practice_codes, columns=['name']).reset_index()
practice_names.head()

     code                        name
0  A81001         THE DENSHAM SURGERY
1  A81002  QUEENS PARK MEDICAL CENTRE
2  A81003   VICTORIA MEDICAL PRACTICE
3  A81004     BLUEBELL MEDICAL CENTRE
4  A81005          SPRINGWOOD SURGERY

In [39]:
finalq6 = rare.merge(practice_names, on=['code'], how='inner')

In [40]:
finalq6_ = finalq6.sort_values(by=['rare_score'], ascending=False).head(100)

In [41]:
rare_scripts =list(zip(finalq6_['code'], finalq6_['name'], finalq6_['rare_score']))

In [42]:
rare_scripts[:5]

[('Y03472', 'CONSULTANT DIABETES TEAM', 16.262687124655073),
 ('Y05320', 'DMC COMMUNITY DERMATOLOGY RBWF', 15.128648195416869),
 ('Y04404', 'OUTPATIENTS JUBILEE HEALTH CENTRE', 7.542139356104619),
 ('Y03484', 'DMC COMMUNITY DERMATOLOGY CLINIC', 7.287222200297826),
 ('Y04424', 'DMC HEALTHCARE', 6.838614181432866)]

In [43]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2017 The Data Incubator.  All rights reserved.*